body{

font-family: 'Be Vietnam', sans-serif;
text-align:justify;
 font-size:;
 background:#ECECEC;
    color:grey;
}
.hdl{
text-align:justify;
padding:10px;
color:green;
height:200px;
overflow:scroll;
}
.caption-four{
    color:#FF000F;
}
.caption-one{
    color:#000000; 
}
.caption-two{
    color:#FFEA00; 
}
.caption-three{
    color:#0A00CD;
}

.carousel-caption{
    border:0px solid red; 
height:100%;

font-size:20px;

}
.carousel-inner{
 border-radius:10px;
 box-shadow: ;
 
}
.carousel-control-next{
    width:30px;
border:0px;
}
.carousel-control-prev{
border:0px solid green;

    width:30px;
} 
.item{
       width:100%;
    height:350px;
    background:black;
    border-left:;
    border-radius:10px;
    box-shadow:5px 8px 15px black;
    
}
.item-id{
    text-align:center;
color:white;

font-weight:bolder;
}
.item-price{
    text-align:center;
font-size:30px;
color:green;
}
.item-infor{
    text-align:center;
color:grey;
}

.item-cont{
    width:100%;
    height:;
    background:green;
    border:0px solid blue;
    border-radius:10px;
    color:white;
text-align:center;
    float:left;
font-size:17px;

}
.item-com{
       width:100%;
    height:;
    background:black;
    border-left:;
    border-radius:10px;
    
    box-shadow: 5px 8px  15px black;
}

.photo-com{
       width:100%;
    height:; 
    background:white;
    border:0px solid  blue;
    border-radius:10px;

    overflow:scroll;
    text-align:center;



     
}
.infor-com{
       width:100%;
    height:30px;

    border:0px solid grey;
    border-radius:10px;
    text-align:center;
background:url("data1.jpg");


}
.nega{
width:100%;
background:green; 
color:white;
text-align:center;
padding:10px;

}
.navbar-toggler-icon{
    background:white;
border-radius:5px;


}
.navbar-nav{
background:url("data1.jpg");
}
.bg-black{

background:black!important;
    
}
navbar-brand1:hover{
    color:blue;
}
.badge1{
    color:white;
background:green;
}
navbar-brand1{
    color:white;
font-size:28px;
}
nav-link1{
font-size:16px;
    color:white;
}
nav-link1:hover {
color:green;
text-decoration:underline;


}
.navbar-nav{
border-top:1px solid white;

}


.navb{
    background:green;
height:40px;
text-align:left;
color:white;
padding:10px;
border-bottom:2px solid green;
}
.navbb{
    background:black;
}

.dmd1{

border:0px solid #C2C2C2;
border-radius:0px;
color:red;
font-size:13px;

}
.dmd2{

border:0px solid #C2C2C2;
border-radius:0px;
color:red;
font-size:13px;
} 





.cont, a:hover {
  color:#FF002E;
}


d{color:white;
opacity:1;
}

z{
    font-size:20px;
}


.gradb{background:white;}




.photo{
       width:100%;
    height:62%; 
    background:white;
    border:0px solid  blue;
    border-radius:10px;

    overflow:scroll;
    text-align:center;
color:grey;


     
}
.infor{
       width:100%;
    height:38%;

    border:0px solid grey;
    border-radius:10px;
    text-align:center;
background:url("data1.jpg");

}
.tagi{
    width:100%;
    height:;
    background:blue;
    border:1px solid blue; 
    border-radius:10px;
    color: white;
    
    text-align:center;
font-size:16px;
    
}
    
.tags{
        width:80px;
    height:;
    background:white;
    border:1px solid  #C2C2C2;
    border-radius:10px;
    color: #C2C2C2;
    text-align:center;
    float:left;
font-size:13px;
opacity:0;

    
}
     
.tagc{
    width:100%;
    height:;
    background:white;
    border:0px solid black;
    border-radius:10px;
    color:white;
    opacity:1;
    text-align:center;
font-size:16px;
    
}
    
.bdy{
padding-top:0px;

}
.bdy2{
width:;
font-size:13px;
color:blue;
border:0px solid blue;
border-radius:10px;
padding:0px;


}
.aud{

    width:0px;
opacity:0;



}
